<div id="wrapper">

  <div class="form_div">
    <p class="form_label">Registration Form</p>
    <form method="post" action="">
      <p><input type="text" placeholder="Enter Email"></p>
      <p><input type="password" placeholder="**********"></p>
      <p><input type="submit" value="LOGIN"></p>
    </form>
  </div>
  <br>
  <br>
  <br>
  <div class="form_div">
    <p class="form_label">SIGNUP FORM</p>
    <form method="post" action="">
      <p><input type="text" placeholder="Enter Name"></p>
      <p><input type="text" placeholder="Enter Email"></p>
      <p><input type="password" placeholder="**********"></p>
      <p><input type="text" placeholder="Gender"></p>
      <p><input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br></p>
      <p><input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br></p>
      <p><input type="text" placeholder="Address"></p>
      <p><input type="number" placeholder="Phone Number"></p>
      <p><input type="text" placeholder="Shop Name"></p>
      <p><input type="text" placeholder="City"></p>
      <p><input type="number" placeholder="Pincode"></p>
      <p><input type="submit" value="SIGNUP"></p>
    </form>
  </div>

</div>

