.header {
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.complaint {
  padding: 20px;
}


.complaint-box {
  display: flex;
  justify-content: space-between;

  .side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;

    .place-of-complaint {
      height: 35px;
      width: 98%;
      margin-left: 1%;
    }

    button {
      height: 35px;
    }
  }

  .side-panel-only-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;

    button {
      height: 35px;
    }
  }

  .description {
    width: 50%;
    height: 150px;
  }
}
