<p-sidebar [(visible)]="display" styleClass="sidebar-style">
  <app-form [details]="basicCardDetails"></app-form>
</p-sidebar>

<div class="card" (click)="display = true" [ngClass]="backGround">
  <div class="card-header">{{basicCardDetails.header}}</div>
  <img [src]="basicCardDetails.imageUrl" alt="download" style="width:100%" height="140" class="card-image">

  <div class="card-details">
    <div class="info">
      <div class="label">Quantity:</div>
      <div class="value">{{basicCardDetails.quantity}} {{basicCardDetails.metrics}}</div>
    </div>
    <div class="info">
      <div class="label">Market Price:</div>
      <div class="value">{{basicCardDetails.marketPrice}}
        <span class="fa fa-inr"></span>
        <span class="per-matrix">/ {{basicCardDetails.metrics}}</span>
      </div>
    </div>
    <div class="info">
      <div class="label">Price:</div>
      <div class="value">{{basicCardDetails.price}}
        <span class="fa fa-inr"></span>
        <span class="per-matrix">/ {{basicCardDetails.metrics}}</span>
      </div>
    </div>
  </div>
</div>
