.card {
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  width: 15%;
  min-height: 325px;
  margin: 15px;
  border-radius: 25px;
}

.card-image {
  padding: 2px;
  background: black;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.card-details {
  .info {
    display: flex;
  }
  .label {
    width: 50%;
    padding: 3px;
    font-weight: bold;
  }
}
