<div class="landing-page">
  <div class="header-type">Recently Edited</div>
  <div class="products">
    <app-add-item-card></app-add-item-card>
    <div *ngFor="let product of products">
      <app-basic-cards [basicCardDetails]="product" [backGround]="'greenBack'"></app-basic-cards>
    </div>
  </div>
  <div class="header-type">Out Of Stock</div>
  <div class="products">
    <div *ngFor="let product of products">
      <app-basic-cards [basicCardDetails]="product" [backGround]="'cadetBlue'"></app-basic-cards>
    </div>
  </div>
  <div class="header-type">Most Sold</div>
  <div class="products">
    <div *ngFor="let product of products">
      <app-basic-cards [basicCardDetails]="product" [backGround]="'aliceBlue'"></app-basic-cards>
    </div>
  </div>
  <div class="header-type">Least Sold</div>
  <div class="products">
    <div *ngFor="let product of products">
      <app-basic-cards [basicCardDetails]="product" [backGround]="'gradientBlue'"></app-basic-cards>
    </div>
  </div>
</div>
