<div class="login-box" *ngIf="!forgotPass && !enterOTP && !enterNewPassword">
  <h1>Login</h1>
  <div class="textbox">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <input type="text" placeholder="Username / Phone Number" name="" value="" [(ngModel)]="username"/>
  </div>
  <div class="textbox">
    <i class="fa fa-unlock" aria-hidden="true"></i>
    <input type="password" placeholder="Password" name="" value="" [(ngModel)]="password"/>
  </div>
  <button class="btn" type="button" name="" value="Sign in" (click)="login()">Sign In</button>
  <button class="btn" type="button" name="" value="Forget Password" (click)="forgotPassword()">Forgot Password</button>
</div>

<app-forgot-password *ngIf="forgotPass"
                     (navigateToLogin)="goToLogin()"
                     (navigateToOTP)="getOtp()">
</app-forgot-password>

<div class="login-box" *ngIf="enterOTP">
  <h1>Enter OTP</h1>
  <div class="textbox">
    <i class="fa fa-key" aria-hidden="true"></i>
    <input type="number" placeholder="ENTER OTP" name="" value="" [(ngModel)]="enterOTP"/>
  </div>
  <button class="btn" type="button" name="" value="Get OTP" (click)="enterNewPass()">Create Password</button>
  <button class="btn" type="button" name="" (click)="goToLogin()">Go to Login</button>
</div>

<div class="login-box" *ngIf="enterNewPassword">
  <h1>Enter OTP</h1>
  <div class="textbox">
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <input type="number" placeholder="9999999999" name="" value="" disabled/>
  </div>
  <div class="textbox">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <input type="text" placeholder="USERNAME" name="" value="" disabled/>
  </div>
  <div class="textbox">
    <i class="fa fa-key" aria-hidden="true"></i>
    <input type="password" placeholder="ENTER NEW PASSWORD" name="" value="" />
  </div>
  <div class="textbox">
    <i class="fa fa-key" aria-hidden="true"></i>
    <input type="password" placeholder="CONFIRM PASSWORD" name="" value="" />
  </div>
  <button class="btn" type="button" name="" value="Get OTP" (click)="enterNewPass()">SUBMIT</button>
  <button class="btn" type="button" name="" (click)="goToLogin()">Go to Login</button>
</div>

