<div class="regform"><h1>Fruit Name</h1></div>
<div class="Fruit Name">
  <form>
    <table>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <input type="text" placeholder="Name" name="">
        </td>
      </tr>
      <tr>
        <td>
          Fruit type:
        </td>
        <td>
          <select>
            <option>Stone Fruit</option>
            <option>Tropical</option>
            <option>Citrus Fruit</option>
            <option>Melons Fruit</option>
            <option>Berries Fruit</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Market Price:
        </td>
        <td>
          <input type="text" name="">
        </td>
      </tr>
      <tr>
        <td>
          Discounted Price:
        </td>
        <td>
          <input type="text" name="">
        </td>
      </tr>
      <tr>
        <td>
      <tr>
        <td>
      <tr>
        <td>
          Stock Avalaibility:
        </td>
        <td>
          <input type="radio" name="Stock Avalaibility">Yes
          <input type="radio" name="Stock Avalaibility">No
        </td>
      </tr>
      <tr>
        <td>
          Quantity:
        </td>
        <td>
          <select>
            <option>gram</option>
            <option>kilograms</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="Submit" value="Submit">
        </td>
      </tr>

    </table>
  </form>
</div>







