
<app-login *ngIf="!showHome" (goToHome)="showHomePage()"></app-login>

<!--<nav>-->
  <!--<input type="checkbox" id="check">-->
  <!--<label for="check" class="checkbtn">-->
    <!--<i class="fas fa-bars"></i>-->
  <!--</label>-->
  <!--<label class="logo">CodingNepal</label>-->
  <!--<ul>-->
    <!--<li><a class="active" href="#">Home</a></li>-->
    <!--<li><a href="#">About</a></li>-->
    <!--<li><a href="#">Services</a></li>-->
    <!--<li><a href="#">Products</a></li>-->
    <!--<li><a href="#">Contact</a></li>-->
    <!--<li><a href="#">Feedback</a></li>-->
  <!--</ul>-->
<!--</nav>-->
<!--<section></section>-->

