<div class="header">Contact Us</div>
<div class="details">
  <div class="contact">
    <div class="info">
      <div class="label">NAME: </div>
      <div class="value">ANKIT SINGH</div>
    </div>
    <div class="info">
      <div class="label">ROLE: </div>
      <div class="value">CEO</div>
    </div>
    <div class="info">
      <div class="label">ADDRESS: </div>
      <div class="value">A 216/217
        Rohini Sector 24,
        <br>JJ Colony NEW DELHI,
        <br> DELHI 110085
        <br>India
      </div>
    </div>
    <div class="info">
      <div class="label">PHONE NO: </div>
      <div class="value">9958225915‬</div>
    </div>
  </div>
  <img src="assets/ankit.jpeg"/>
</div>
