<div class="menu-bar">
  <div class="header">Grocery</div>
  <p-menubar [model]="items" class="header-menu"></p-menubar>
</div>
<div class ="wrap">
  <img src ="assets/download.jpg" alt ="download" style ="width:20%" height="100">


  <div class ="container">
    <h5><b> Oranges</b></h5>


  </div>
  <div class ="wrap">
    <img src ="assets/banana.jpg" alt ="banana" style ="width:20%" height="100">

    <div class ="container">
      <h5><b> banana</b></h5>

    </div>
    <div class ="wrap">
      <img src ="assets/grapes.jpg" alt ="download" style ="width:20%" height="100">


      <div class ="container">
        <h5><b> Grapes</b></h5>
        <div class ="wrap">
          <img src ="assets/kiwi.jpg" alt ="download" style ="width:20%" height="100">


          <div class ="container">
            <h5><b> Kiwi</b></h5>
            <div class ="wrap">
              <img src ="assets/apple.jpg" alt ="download" style ="width:20%" height="110">


              <div class ="container">
                <h5><b> Apple</b></h5>


