<div class="create-password">
  <h1>Create New Password</h1>
  <div class="textbox">
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <input type="number" placeholder="9999999999" name="" value="" disabled/>
  </div>
  <div class="textbox">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <input type="text" placeholder="USERNAME" name="" value="" disabled/>
  </div>
  <div class="textbox">
    <i class="fa fa-key" aria-hidden="true"></i>
    <input type="password" placeholder="ENTER NEW PASSWORD" name="" value="" />
  </div>
  <div class="textbox">
    <i class="fa fa-key" aria-hidden="true"></i>
    <input type="password" placeholder="CONFIRM PASSWORD" name="" value="" />
  </div>
  <button class="btn" type="button" name="" value="Get OTP" (click)="enterNewPass()">SUBMIT</button>
  <button class="btn" type="button" name="" (click)="goToLogin()">Go to Login</button>
</div>
